<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>translated text</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <strong>Name: </strong><%- name %>
    <br>
    <strong>Email Address: </strong><%- email %>
    <br>
    <strong>Original Text: </strong><%- input_text %>
    <br>
    <strong>Translation Language: </strong><%- translation_language %>
    <br>
    <strong>Translated Text: </strong>
    <br>
    <%- translated_text %>
    <br>
    <br>
    <a href="/">HOME</a>

</body>
</html>