<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>translated text</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="allcontent">
        <h2>Translation for <%- name %> at <%- email %></h2>
        <h4>The translation for <%- input_text %> in <%- translation_language %> is:</h4>
        <div id="translated_text"><%- translated_text %></div>
    </div>

    <br>
    <br>
    <a class="footer" href="/">HOME</a>

</body>
</html>